body {   
    background-color: #06663e;
    font-family: 'Gill Sans', sans-serif;
    color: #ffffff;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.col-8 {
    margin-top: 15px;
}
.col-3.nav_logo {
    background: url(../images/Logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.my_photo {
    background: url(../images/My_photo.jpg) no-repeat center center;
    background-size: auto;
    width: 378px;
    height: 226px;
}
.title_photo {
    text-align: center;
}
.button_js {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#myButton {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: #f3ef09;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
}
#myButton:hover {
    background-color: #b6b30a;
    transition: 0.7ms;
}
#demo img {
    margin-top: 20px;
    width: 60%;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.col-12.index {
    text-align: center;
}

.row.form__reg {
    margin-bottom: 5px;
    margin-left: 2px;
    width: 300px;
}
/*.row {
}

.col-4 {
}

.col-9 {
}

.img_size {
}*/